/* Intro Text */

h2 {
    padding: 50px;
    text-align: center;
}

/* Body */

body {
    background-color: #BBB5B5;
}

.container {
    background-color: white;
    border: 2px solid #898585;
    border-radius: 5px;
    height: 400px;
    padding: 30px;
}

/* Start of Game */

h3 {
    margin: 20px 0px;
    text-align: center;
}

.btn-div {
    text-align: center;
}

.begin-btn {
    height: 75px;
    font-size: 1.5em;
    letter-spacing: 0.3em;
    margin: 20px;
    width: 40%;
}

/* Question Screen */

.btn-primary {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 30%;
}